button {
  border: none;
  background: none;
  font-weight: 700;
  color: rgb(104, 104, 104);
  padding: 5px;
  cursor: pointer;
  width: 90px;
  outline: none;

  &:hover, &:focus{
    color: rgb(155, 4, 4);
  }
}